modules = ["python-3.12", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "ffmpeg-full", "freetype", "git", "gmp", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "libyaml", "mesa", "openjpeg", "tcl", "tk", "xorg.libX11", "xorg.libXext", "xorg.libxcb", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AnnieMusic Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Annie Web UI"

[[workflows.workflow]]
name = "AnnieMusic Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m ANNIEMUSIC"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Annie Web UI"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python webserver.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
API_ID = "33679425"
COOKIE_URL = "https://batbin.me/ribbonfish"
LOGGER_ID = "-1003455370306"
API_HASH = "317cec181636ecdbb76c6d43a2d5935d"
BOT_TOKEN = "8181377432:AAGCMxdbGAo5zX1nxcG00pQO9Qcep5ywt4c"
MONGO_DB_URI = "mongodb+srv://bb:bb@cluster0.by6uncl.mongodb.net/?appName=Cluster0"
STRING_SESSION = "BQIB6EEAPS3ygLFMglijcsFaAIMWsDu3hZZvUGU0aNILUeuGX5KlAv5PU8pUOmWVdiHcuER2iC0QrR_X62gx2hl_jrPR_XuT2RV528yBY6PJ4-iarwv3aoXRKfvIVEIJ8wZS2tTwHYWgSsl0NyLhpc114jwUtPHUS-Pk2A4QL7f3t_QfFIjGxUAuiQrm-h2_XqClUsRrjsGMtXzTHy8LV8pzcMRFQBSM2jGusUen4EWf2Qwt5eOskzrGeB6KWEfDAy0smhtGgrouWE1adzXTpdgUDNN-5VJMo2NzPqAZYodB9tmU9-lNkcB3LnE_cdnxeQooHpUfYYG8zGB7JeCMdmI0sM2I1gAAAAHkdbuiAA"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80
