modules = ["python-3.12", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "ffmpeg-full", "freetype", "git", "gmp", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "libyaml", "mesa", "openjpeg", "tcl", "tk", "xorg.libX11", "xorg.libXext", "xorg.libxcb", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AnnieMusic Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Annie Web UI"

[[workflows.workflow]]
name = "AnnieMusic Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m ANNIEMUSIC"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Annie Web UI"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python webserver.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[userenv]

[userenv.shared]
API_ID = "33679425"
COOKIE_URL = "https://batbin.me/ribbonfish"
LOGGER_ID = "-1003455370306"
API_HASH = "317cec181636ecdbb76c6d43a2d5935d"
BOT_TOKEN = "8181377432:AAGCMxdbGAo5zX1nxcG00pQO9Qcep5ywt4c"
MONGO_DB_URI = "mongodb+srv://bb:bb@cluster0.by6uncl.mongodb.net/?appName=Cluster0"
STRING_SESSION = "BQIB6EEAjkit72yLVlvXomDsSsrQhRQAY3EKFPb9E_H_VNjOy-am8POAYYWdSCwqpi-8dQ6a5lhWLaAUjQ3IOJF6EQ7SwItSgBTXafnWtjOgrbrvnzZ_vDaVC6Bw2UERR_br9MWUItA8ysvLlx2NrD3H1WcRA-L9nxiPu8LI8SlUZTvUHp3xOHEMitUnSo-aWnXGNFy23ALO-dvFxzmyih2RlEqGItt8biyv3smm6mQHYKYa9erGts3bmFeuhIaHEI0bKnERlt2Z-9XdjIzADqt4cOqOUJ8nvH_jbU-mM0IEwj6gFhGWIaBGF5jLixvixc0d7qmWbdgQEi_ql4b2XQKZx-RY8AAAAAHkdbuiAA"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80
