aiofiles
aiohttp
apscheduler
beautifulsoup4
bing_image_downloader
deepai
edge-tts
ffmpeg-python
flask
future
gitpython
google-api-python-client
gpytranslate
gtts
heroku3
httpx[http2]==0.28.1
kurigram==2.2.13
lexica-api
motor
nekosbest
numpy
opencv-python
pillow==12.1.1
psutil
ntgcalls==2.1.0
py-tgcalls==2.2.11
pycryptodome
pycryptodomex
pydub
pyfiglet
pyshorteners
python-dotenv
python-whois
git+https://github.com/CertifiedDevloper/youtube-search-python
pyyaml
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git
