❯ git pull --rebase origin main
pip install -r requirements.txt
python3 -m KHUSHI
warning: redirecting to https://github.com/khushi4ura/ANNIE/
From https:///github.com/khushi4ura/ANNIE
 * branch            main       -> FETCH_HEAD
Successfully rebased and updated refs/heads/main.
Defaulting to user installation because normal site-packages is not writeable
Collecting git+https://github.com/CertifiedDevloper/youtube-search-python (from -r requirements.txt (line 34))
  Cloning https://github.com/CertifiedDevloper/youtube-search-python to /tmp/pip-req-build-dmsmgero
  Running command git clone --filter=blob:none --quiet https://github.com/CertifiedDevloper/youtube-search-python /tmp/pip-req-build-dmsmgero
  Resolved https://github.com/CertifiedDevloper/youtube-search-python to commit 50959375f66a0aeeb6f6152fc8c281ac84ce054b
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git (from yt-dlp[default] @ git+https://github.com/yt-dlp/yt-dlp.git->-r requirements.txt (line 45))
  Cloning https://github.com/yt-dlp/yt-dlp.git to /tmp/pip-install-a20xyprb/yt-dlp_f3403688a65b409eb1b239944f450a1a
  Running command git clone --filter=blob:none --quiet https://github.com/yt-dlp/yt-dlp.git /tmp/pip-install-a20xyprb/yt-dlp_f3403688a65b409eb1b239944f450a1a
  Resolved https://github.com/yt-dlp/yt-dlp.git to commit 2d7b278666bfbf12cf287072498dd275c946b968
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: aiofiles in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 1)) (24.1.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 2)) (3.13.3)
Requirement already satisfied: apscheduler in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 3)) (3.11.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 4)) (4.14.3)
Requirement already satisfied: deepai in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 5)) (1.0.1)
Requirement already satisfied: edge-tts in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 6)) (7.2.8)
Requirement already satisfied: ffmpeg-python in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 7)) (0.2.0)
Requirement already satisfied: flask in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 8)) (3.1.3)
Requirement already satisfied: future in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 9)) (1.0.0)
Requirement already satisfied: gitpython in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 10)) (3.1.46)
Requirement already satisfied: google-api-python-client in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 11)) (2.193.0)
Requirement already satisfied: gpytranslate in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 12)) (2.0.0)
Requirement already satisfied: gtts in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 13)) (2.5.4)
Requirement already satisfied: heroku3 in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 14)) (5.2.1)
Requirement already satisfied: httpx==0.28.1 in /usr/local/lib/python3.10/dist-packages (from httpx[http2]==0.28.1->-r requirements.txt (line 15)) (0.28.1)
Requirement already satisfied: kurigram==2.2.19 in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 16)) (2.2.19)
Requirement already satisfied: pyrofork in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 17)) (2.3.69)
Requirement already satisfied: lexica-api in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 18)) (1.6.0)
Requirement already satisfied: motor in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 19)) (3.7.1)
Requirement already satisfied: nekosbest in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 20)) (1.1.15)
Requirement already satisfied: numpy in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 21)) (2.2.6)
Requirement already satisfied: opencv-python in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 22)) (4.13.0.92)
Requirement already satisfied: pillow==12.1.1 in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 23)) (12.1.1)
Requirement already satisfied: psutil in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 24)) (7.2.2)
Requirement already satisfied: ntgcalls==2.1.0 in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 25)) (2.1.0)
Requirement already satisfied: py-tgcalls==2.2.11 in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 26)) (2.2.11)
Requirement already satisfied: pycryptodome in /usr/local/lib/python3.10/dist-packages
(from -r requirements.txt (line 27)) (3.23.0)
Requirement already satisfied: pycryptodomex in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 28)) (3.23.0)
Requirement already satisfied: pydub in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 29)) (0.25.1)
Requirement already satisfied: pyfiglet in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 30)) (1.0.4)
Requirement already satisfied: pyshorteners in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 31)) (1.0.1)
Requirement already satisfied: python-dotenv in /usr/local/lib/python3.10/dist-packages (from -r requirements.txt (line 32)) (1.2.2)
Requirement already satisfied: python-whois in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 33)) (0.9.6)
Requirement already satisfied: pyyaml in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 35)) (6.0.3)
Requirement already satisfied: qrcode in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 36)) (8.2)
Requirement already satisfied: requests in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 37)) (2.33.0)
Requirement already satisfied: speedtest-cli in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 38)) (2.1.3)
Requirement already satisfied: SpeechRecognition in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 39)) (3.15.2)
Requirement already satisfied: spotipy in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 40)) (2.26.0)
Requirement already satisfied: telegraph in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 41)) (2.2.0)
Requirement already satisfied: tgcrypto in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 42)) (1.2.5)
Requirement already satisfied: unidecode in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 43)) (1.4.0)
Requirement already satisfied: wget in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 44)) (3.2)
Requirement already satisfied: nudenet in /home/khushi/.local/lib/python3.10/site-packages (from -r requirements.txt (line 46)) (3.4.2)
Requirement already satisfied: brotli in /home/khushi/.local/lib/python3.10/site-packages (from yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git->yt-dlp[default] @ git+https://github.com/yt-dlp/yt-dlp.git->-r requirements.txt (line 45)) (1.2.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git->yt-dlp[default] @ git+https://github.com/yt-dlp/yt-dlp.git->-r requirements.txt (line 45)) (2026.2.25)
Requirement already satisfied: mutagen in /home/khushi/.local/lib/python3.10/site-packages (from yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git->yt-dlp[default] @ git+https://github.com/yt-dlp/yt-dlp.git->-r requirements.txt (line 45)) (1.47.0)
Requirement already satisfied: urllib3<3,>=2.0.2 in /home/khushi/.local/lib/python3.10/site-packages (from yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git->yt-dlp[default]
@ git+https://github.com/yt-dlp/yt-dlp.git->-r requirements.txt (line 45)) (2.6.3)
Requirement already satisfied: websockets>=13.0 in /usr/local/lib/python3.10/dist-packages (from yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git->yt-dlp[default] @ git+https://github.com/yt-dlp/yt-dlp.git->-r requirements.txt (line 45)) (16.0)
Requirement already satisfied: yt-dlp-ejs==0.8.0 in /home/khushi/.local/lib/python3.10/site-packages (from yt-dlp @ git+https://github.com/yt-dlp/yt-dlp.git->yt-dlp[default]
@ git+https://github.com/yt-dlp/yt-dlp.git->-r requirements.txt (line 45)) (0.8.0)
Requirement already satisfied: anyio in /usr/local/lib/python3.10/dist-packages (from httpx==0.28.1->httpx[http2]==0.28.1->-r requirements.txt (line 15)) (4.13.0)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx==0.28.1->httpx[http2]==0.28.1->-r requirements.txt (line 15)) (1.0.9)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx==0.28.1->httpx[http2]==0.28.1->-r requirements.txt (line 15)) (3.11)
Requirement already satisfied: pyaes<=1.6.1 in /home/khushi/.local/lib/python3.10/site-packages (from kurigram==2.2.19->-r requirements.txt (line 16)) (1.6.1)
Requirement already satisfied: pysocks<=1.7.1 in /usr/local/lib/python3.10/dist-packages (from kurigram==2.2.19->-r requirements.txt (line 16)) (1.7.1)
Requirement already satisfied: deprecation in /home/khushi/.local/lib/python3.10/site-packages (from py-tgcalls==2.2.11->-r requirements.txt (line 26)) (2.1.0)
Requirement already satisfied: h2<5,>=3 in /home/khushi/.local/lib/python3.10/site-packages (from httpx[http2]==0.28.1->-r requirements.txt (line 15)) (4.3.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->-r requirements.txt (line 37)) (3.4.6)
Requirement already satisfied: hyperframe<7,>=6.1 in /home/khushi/.local/lib/python3.10/site-packages (from h2<5,>=3->httpx[http2]==0.28.1->-r requirements.txt (line 15)) (6.1.0)
Requirement already satisfied: hpack<5,>=4.1 in /home/khushi/.local/lib/python3.10/site-packages (from h2<5,>=3->httpx[http2]==0.28.1->-r requirements.txt (line 15)) (4.1.0)
Requirement already satisfied: h11>=0.16 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx==0.28.1->httpx[http2]==0.28.1->-r requirements.txt (line 15)) (0.16.0)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->-r requirements.txt (line 2)) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->-r requirements.txt (line 2)) (1.4.0)
Requirement already satisfied: async-timeout<6.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->-r requirements.txt (line 2)) (5.0.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->-r requirements.txt (line 2)) (26.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->-r requirements.txt (line 2)) (1.8.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->-r requirements.txt (line 2)) (6.7.1)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->-r requirements.txt (line 2)) (0.4.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->-r requirements.txt (line 2)) (1.23.0)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from multidict<7.0,>=4.5->aiohttp->-r requirements.txt (line 2)) (4.15.0)
Requirement already satisfied: tzlocal>=3.0 in /home/khushi/.local/lib/python3.10/site-packages (from apscheduler->-r requirements.txt (line 3)) (5.3.1)
Requirement already satisfied: soupsieve>=1.6.1 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->-r requirements.txt (line 4)) (2.8.3)
Requirement already satisfied: scipy>=1.5 in /home/khushi/.local/lib/python3.10/site-packages (from deepai->-r requirements.txt (line 5)) (1.15.3)
Requirement already satisfied: networkx>=2.6.3 in /home/khushi/.local/lib/python3.10/site-packages (from deepai->-r requirements.txt (line 5)) (3.4.2)
Requirement already satisfied: matplotlib>=3.5.1 in /home/khushi/.local/lib/python3.10/site-packages (from deepai->-r requirements.txt (line 5)) (3.10.8)
Requirement already satisfied: autoray>=0.2.5 in /home/khushi/.local/lib/python3.10/site-packages (from deepai->-r requirements.txt (line 5)) (0.8.10)
Requirement already satisfied: quimb==1.4.0 in /home/khushi/.local/lib/python3.10/site-packages (from deepai->-r requirements.txt (line 5)) (1.4.0)
Requirement already satisfied: opt-einsum>=3.3.0 in /home/khushi/.local/lib/python3.10/site-packages (from deepai->-r requirements.txt (line 5)) (3.4.0)
Requirement already satisfied: numba>=0.39 in /home/khushi/.local/lib/python3.10/site-packages (from quimb==1.4.0->deepai->-r requirements.txt (line 5)) (0.64.0)
Requirement already satisfied: cytoolz>=0.8.0 in /home/khushi/.local/lib/python3.10/site-packages (from quimb==1.4.0->deepai->-r requirements.txt (line 5)) (1.1.0)
Requirement already satisfied: tqdm>=4 in /usr/local/lib/python3.10/dist-packages (from quimb==1.4.0->deepai->-r requirements.txt (line 5)) (4.67.3)
Requirement already satisfied: tabulate<1.0.0,>=0.4.4 in /home/khushi/.local/lib/python3.10/site-packages (from edge-tts->-r requirements.txt (line 6)) (0.10.0)
Requirement already satisfied: blinker>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from flask->-r requirements.txt (line 8)) (1.9.0)
Requirement already satisfied: click>=8.1.3 in /home/khushi/.local/lib/python3.10/site-packages (from flask->-r requirements.txt (line 8)) (8.1.8)
Requirement already satisfied: itsdangerous>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from flask->-r requirements.txt (line 8)) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in /usr/local/lib/python3.10/dist-packages (from flask->-r requirements.txt (line 8)) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from flask->-r requirements.txt (line 8)) (3.0.3)
Requirement already satisfied: werkzeug>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from flask->-r requirements.txt (line 8)) (3.1.7)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/khushi/.local/lib/python3.10/site-packages (from gitpython->-r requirements.txt (line 10)) (4.0.12)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/khushi/.local/lib/python3.10/site-packages (from gitdb<5,>=4.0.1->gitpython->-r requirements.txt (line 10)) (5.0.3)
Requirement already satisfied: httplib2<1.0.0,>=0.19.0 in /usr/lib/python3/dist-packages (from google-api-python-client->-r requirements.txt (line 11)) (0.20.2)
Requirement already satisfied: google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client->-r requirements.txt (line 11)) (2.49.1)
Requirement already satisfied: google-auth-httplib2<1.0.0,>=0.2.0 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client->-r requirements.txt (line 11)) (0.3.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client->-r requirements.txt (line 11)) (2.30.0)
Requirement already satisfied: uritemplate<5,>=3.0.1 in /usr/local/lib/python3.10/dist-packages (from google-api-python-client->-r requirements.txt (line 11)) (4.2.0)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.3 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client->-r requirements.txt (line 11)) (1.73.0)
Requirement already satisfied: protobuf<7.0.0,>=4.25.8 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client->-r requirements.txt (line 11)) (5.29.6)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0,>=1.31.5->google-api-python-client->-r requirements.txt (line 11)) (1.27.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/lib/python3/dist-packages
(from google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0->google-api-python-client->-r requirements.txt (line 11)) (0.2.1)
Requirement already satisfied: cryptography>=38.0.3 in /usr/local/lib/python3.10/dist-packages (from google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0->google-api-python-client->-r requirements.txt (line 11)) (46.0.5)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /home/khushi/.local/lib/python3.10/site-packages (from httplib2<1.0.0,>=0.19.0->google-api-python-client->-r requirements.txt (line 11)) (3.3.2)
Requirement already satisfied: socksio==1.* in /home/khushi/.local/lib/python3.10/site-packages (from httpx==0.28.1->httpx[http2]==0.28.1->-r requirements.txt (line 15)) (1.0.0)
Requirement already satisfied: python-dateutil>=2.6.0 in /home/khushi/.local/lib/python3.10/site-packages (from heroku3->-r requirements.txt (line 14)) (2.9.0.post0)
Requirement already satisfied: pymediainfo-pyrofork<7.0.0,>=6.0.1 in /home/khushi/.local/lib/python3.10/site-packages (from pyrofork->-r requirements.txt (line 17)) (6.0.2)
Requirement already satisfied: pymongo<5.0,>=4.9 in /home/khushi/.local/lib/python3.10/site-packages (from motor->-r requirements.txt (line 19)) (4.16.0)
Requirement already satisfied: dnspython<3.0.0,>=2.6.1 in /usr/local/lib/python3.10/dist-packages (from pymongo<5.0,>=4.9->motor->-r requirements.txt (line 19)) (2.8.0)
Requirement already satisfied: redis>=3.5.3 in /home/khushi/.local/lib/python3.10/site-packages (from spotipy->-r requirements.txt (line 40)) (7.4.0)
Requirement already satisfied: onnxruntime in /home/khushi/.local/lib/python3.10/site-packages (from nudenet->-r requirements.txt (line 46)) (1.23.2)
Requirement already satisfied: opencv-python-headless in /home/khushi/.local/lib/python3.10/site-packages (from nudenet->-r requirements.txt (line 46)) (4.13.0.92)
Requirement already satisfied: cffi>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from cryptography>=38.0.3->google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0->google-api-python-client->-r requirements.txt (line 11)) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=2.0.0->cryptography>=38.0.3->google-auth!=2.24.0,!=2.25.0,<3.0.0,>=1.32.0->google-api-python-client->-r requirements.txt (line 11)) (3.0)
Requirement already satisfied: toolz>=0.8.0 in /home/khushi/.local/lib/python3.10/site-packages (from cytoolz>=0.8.0->quimb==1.4.0->deepai->-r requirements.txt (line 5)) (1.1.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/khushi/.local/lib/python3.10/site-packages (from matplotlib>=3.5.1->deepai->-r requirements.txt (line 5)) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /home/khushi/.local/lib/python3.10/site-packages (from matplotlib>=3.5.1->deepai->-r requirements.txt (line 5)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/khushi/.local/lib/python3.10/site-packages (from matplotlib>=3.5.1->deepai->-r requirements.txt (line 5)) (4.62.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/khushi/.local/lib/python3.10/site-packages (from matplotlib>=3.5.1->deepai->-r requirements.txt (line 5)) (1.5.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=3.5.1->deepai->-r requirements.txt (line 5)) (26.0)
Requirement already satisfied: llvmlite<0.47,>=0.46.0dev0 in /home/khushi/.local/lib/python3.10/site-packages (from numba>=0.39->quimb==1.4.0->deepai->-r requirements.txt (line 5)) (0.46.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.6.0->heroku3->-r requirements.txt (line 14)) (1.17.0)
Requirement already satisfied: exceptiongroup>=1.0.2 in /usr/local/lib/python3.10/dist-packages (from anyio->httpx==0.28.1->httpx[http2]==0.28.1->-r requirements.txt (line 15)) (1.3.1)
Requirement already satisfied: coloredlogs in /home/khushi/.local/lib/python3.10/site-packages (from onnxruntime->nudenet->-r requirements.txt (line 46)) (15.0.1)
Requirement already satisfied: flatbuffers in /home/khushi/.local/lib/python3.10/site-packages (from onnxruntime->nudenet->-r requirements.txt (line 46)) (25.12.19)
Requirement already satisfied: sympy in /home/khushi/.local/lib/python3.10/site-packages (from onnxruntime->nudenet->-r requirements.txt (line 46)) (1.14.0)
Requirement already satisfied: humanfriendly>=9.1 in /home/khushi/.local/lib/python3.10/site-packages (from coloredlogs->onnxruntime->nudenet->-r requirements.txt (line 46))
(10.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /home/khushi/.local/lib/python3.10/site-packages (from sympy->onnxruntime->nudenet->-r requirements.txt (line 46)) (1.3.0)
[31-Mar-26 19:46:17 - INFO] - KHUSHI.core.mongo - KHUSHI: Connecting to MongoDB...
[31-Mar-26 19:46:17 - INFO] - KHUSHI.core.mongo - KHUSHI: MongoDB connected. (DB: Annie)
Traceback (most recent call last):
  File "/usr/lib/python3.10/runpy.py", line 187, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "/usr/lib/python3.10/runpy.py", line 146, in _get_module_details
    return _get_module_details(pkg_main_name, error)
  File "/usr/lib/python3.10/runpy.py", line 110, in _get_module_details
    __import__(pkg_name)
  File "/home/khushi/ANNIE/KHUSHI/__init__.py", line 12, in <module>
    from KHUSHI.platforms import (
  File "/home/khushi/ANNIE/KHUSHI/platforms/__init__.py", line 4, in <module>
    from .Soundcloud import SoundAPI
  File "/home/khushi/ANNIE/KHUSHI/platforms/Soundcloud.py", line 7, in <module>
    from KHUSHI.utils.downloader import download_audio_concurrent
  File "/home/khushi/ANNIE/KHUSHI/utils/__init__.py", line 6, in <module>
    from .inline import *
  File "/home/khushi/ANNIE/KHUSHI/utils/inline/__init__.py", line 66, in <module>
    from .start import *
ModuleNotFoundError: No module named 'KHUSHI.utils.inline.start'